@model ExpertiseSearchModel

@{

    //page title
    ViewBag.PageTitle = "Expertise";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Expertise");
}

@{
    const string hideSearchBlockAttributeName = "CategoryPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}

@*<head>
    <script src="~/lib/jquery/jquery-3.4.1.min.js"></script>

</head>*@
<div class="content-header clearfix">
    <h1 class="pull-left">
        Expertise
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @*<div class="btn-group">
            <button type="button" class="btn btn-success">
                <i class="fa fa-download"></i>
                @T("Admin.Common.Export")
            </button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">&nbsp;</span>
            </button>
        </div>
        <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
            <i class="fa fa-upload"></i>
            @T("Admin.Common.Import")
        </button>*@
        @*<button type="button" id="delete-selected" class="btn bg-red">
            <i class="fa fa-trash-o"></i>
            @T("Admin.Common.Delete.Selected")
        </button>*@
        <nop-action-confirmation asp-button-id="delete-selected" />
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                            </div>

                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchTitle" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label>Category</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select asp-for="SearchCategoryId" class="form-control" asp-items="@(new SelectList(Model.JobServiceCategoryList, "Id", "Name"))">
                                                    <option value="0">All</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-7 col-md-offset-5">
                                        <button type="button" id="search-expertise" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            @await Html.PartialAsync("Table", new DataTablesModel
                            {
                                Name = "expertisepro-grid",
                                UrlRead = new DataUrl("List", "Expertise", null),
                                SearchButtonId = "search-expertise",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                Filters = new List<FilterParameter>
                                {
                                    new FilterParameter(nameof(Model.SearchTitle)),
                                    new FilterParameter(nameof(Model.SearchCategoryId)),
                                },
                                ColumnCollection = new List<ColumnProperty>
                                {
                                new ColumnProperty(nameof(ExpertiseModel.Name))
                                {
                                    Title = T("Admin.Catalog.Categories.Fields.Name").Text
                                },
                                new ColumnProperty(nameof(ExpertiseModel.JobServiceCategoryString))
                                {
                                    Title = "Job Service Category"
                                },
                                new ColumnProperty(nameof(ExpertiseModel.PublishedString))
                                {
                                    Title = "Published"
                                },
                                new ColumnProperty(nameof(JobServiceCategoryModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                                }
                                }
                            })

                            <script>
                                $(document).ready(function () {
                                    $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                        var postData = {
                                            selectedIds: selectedIds
                                        };
                                        addAntiForgeryToken(postData);
                                        $.ajax({
                                            cache: false,
                                            type: "POST",
                                            url: "@(Url.Action("DeleteSelected", "Expertise"))",
                                            data: postData,
                                            error: function (jqXHR, textStatus, errorThrown) {
                                                $('#deleteSelectedFailed-info').text(errorThrown);
                                                $('#deleteSelectedFailed').click();
                                            },
                                            complete: function (jqXHR, textStatus) {
                                                updateTable('#expertisepro-grid');
                                            }
                                        });
                                        $('#delete-selected-action-confirmation').modal('toggle');
                                        return false;
                                    });
                                });
                            </script>
                            <nop-alert asp-alert-id="deleteSelectedFailed" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*import categories form*@
<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importexcel-window-title">@T("Admin.Common.ImportFromExcel")</h4>
            </div>
            <form asp-controller="Expertise" asp-action="ImportFromXlsx" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <ul class="common-list">
                            <li>
                                <em>@T("Admin.Catalog.Categories.List.ImportFromExcelTip")</em>
                            </li>
                            <li>
                                <em>@T("Admin.Common.ImportFromExcel.ManyRecordsWarning")</em>
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @T("Admin.Common.ImportFromExcel")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
