@model VendorApplicationModel

@{
    //page title
    ViewBag.PageTitle = "Vendor Application Details";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Vendor Applications");
}

<form asp-controller="VendorApplication" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Vendor Application Details - @Model.StoreName
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">Back to list</a>
            </small>
            <small>
                <i class="fa fa-tasks"></i>
                <a href="/Admin/Home/ShuqOperation">back to Shuq Operation</a>
            </small>
        </h1>
        <div class="pull-right">
            @if (Model.IsApproved == null)
            {
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.Save")
                </button>
                @*<button type="submit" name="save-continue" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.SaveContinue")
                </button>*@
            }

            @*<span id="vendor-delete" class="btn bg-red">
            <i class="fa fa-trash-o"></i>
            @T("Admin.Common.Delete")
        </span>*@
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.VendorDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="vendor-delete" />
