@model PasswordRecoveryConfirmProModel
@{
    ViewData["Layout"] = "Blank";
    ViewData["Theme"] = "signup";
}


<div class="content content-password-recovery">
    <div class="container">
        <header class="pt-5 pb-5">
            <div class="text-center">
                <img class="logo-sign-up" src="/img/pro/brand/logo-new-pro-color.png" alt="YadiYad Pro Logo" />
            </div>
        </header>
        <form asp-controller="Account" asp-action="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
            <div class="card p-3 col-lg-6 ml-auto mr-auto col-lg-6 bg-primary-light content-sign-up-form">
                <h2 class="text-center mt-2 text-primary text-bold">@T("Account.PasswordRecovery")</h2>
                <div class="card p-3 m-0 mt-3 ">
                    <div asp-validation-summary="ModelOnly" class="text-center text-danger"></div>
                    <label asp-for="NewPassword" class="mt-3"></label>
                    <input asp-for="NewPassword" class="form-control" placeholder="New Password" required />
                    <label asp-for="ConfirmNewPassword" class="mt-3"></label>
                    <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm New Password" required />

                    <input type="submit" name="set-password" class="w-100 btn btn-lg btn-info mt-3" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                    @if (!string.IsNullOrEmpty(Model.Result))
                    {
                        <div class="result text-center mt-3 text-bold text-primary">
                            @Model.Result
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>
@section ScriptLibs{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
@section Scripts{
    <environment include="Development">
        <script src="~/js/pro/account/passwordrecovery.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/pro/account/passwordrecovery.es5.min.js" asp-append-version="true"></script>
    </environment>
}